<nav class="nav-home">
    
    <ul class="list">

        {% if site.ununu == true %}
            <li class="item">
                <a class="link" href="https://ununu.io//">Ununu</a>
            </li>
        {% endif %}

        {% if site.givo == true %}
            <li class="item">
                <a class="link"href="https://givo.io/">Givo</a>
            </li>
        {% endif %}

        {% if site.dorg == true %}
            <li class="item">
                <a class="link"href="https://dorg.tech/">dOrg</a>
            </li>
        {% endif %}
    </ul>

</nav>
