<nav class="nav-home">
    
    <ul class="list">

        {% if site.paraswap == true %}
            <li class="item">
                <a class="link" href="https://paraswap.io/">paraswap.io</a>
            </li>
        {% endif %}

        {% if site.fusespace == true %}
            <li class="item">
                <a class="link" href="https://fuse.space/">fuse.space</a>
            </li>
        {% endif %}

        {% if site.socialtec == true %}
            <li class="item">
                <a class="link"href="http://socialtec.nl/">socialtec.nl</a>
            </li>
        {% endif %}

        {% if site.dorg == true %}
            <li class="item">
                <a class="link"href="https://dorg.tech/">dOrg</a>
            </li>
        {% endif %}
    </ul>

</nav>
